
.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/23/d00d1ecf5927001e109eed357e2f1cf2
*.prefs
*.index
.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/Carros/.location
*.dat
*.version
*.tree
*.resources
*.properties
*.ser
*.setup
.metadata/.plugins/org.eclipse.ui.intro/introstate
*.ini
*.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.xmi
*.launch
*.zip
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.lifecyclemapping
*.container
/.metadata/
*.jar
Carros/mvnw
Carros/mvnw.cmd
Carros/.mvn/wrapper/maven-wrapper.jar
*.jar
*.jar
Carros/.mvn/wrapper/maven-wrapper.jar
Carros/.mvn/wrapper/maven-wrapper.jar
*.jar
Carros/.mvn/wrapper/maven-wrapper.jar
Carros/.mvn/wrapper/maven-wrapper.jar
Carros/.classpath
*.md
*.class
*.MF
Carros/.project
Carros/target/classes/.reloadtrigger
AulasSpringBoot/settings.gradle
AulasSpringBoot/gradlew.bat
*.gradle
*.jar
AulasSpringBoot/.classpath
AulasSpringBoot/.project
AulasSpringBoot/gradlew
ProjetoCarros/.classpath
ProjetoCarros/.project
ProjetoCarros/mvnw
ProjetoCarros/mvnw.cmd
Carros/bin/.project
Carros/bin/mvnw
*.cmd
